NODE_ENV=CHANGE-ME

DB_NAME=CHANGE-ME
DB_USER=CHANGE-ME
DB_PASSWORD=CHANGE-ME
DB_PORT=CHANGE-ME

JWT_SECRET=CHANGE-ME
JWT_REFRESH_SECRET=CHANGE-ME

ADMIN_EMAIL=CHANGE-ME

# SMTP para envio de e-mails
SMTP_HOST=CHANGE-ME
SMTP_PORT=CHANGE-ME
SMTP_USER=CHANGE-ME
SMTP_PASS=CHANGE-ME